BACKEND_URL=http://localhost:8000
##Redeploye commit
##Redeploy commit -3
##Redeploy commit -4

# Ghost Admin System
# Set a strong, random passphrase for accessing the ghost admin panel
# The hidden access is triggered by triple-clicking the logo on the login page
GHOST_PASSPHRASE=demo-ghost-pass